<h1><center>Data Engineer Challenge</center></h1>

In [101]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [102]:
#importing datasets
test = pd.read_csv("input/Test.csv")
train = pd.read_csv("input/Train.csv")
sample = pd.read_csv("input/sample_submission.csv")

In [103]:
train.head()

,id_code,current_date,current_time,source_name,destination_name,train_name,target,country_code_source,longitude_source,latitude_source,mean_halt_times_source,country_code_destination,longitude_destination,latitude_destination,mean_halt_times_destination,current_year,current_week,current_day,is_weekend
0,isfywypmkqqhyft,2016-07-27,08:05:51 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
1,mqsfxyvuqpbwomk,2016-07-27,08:06:11 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
2,alspwwtbdvqsgby,2016-07-27,08:08:57 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
3,szitxhhqduyrqpg,2016-07-27,08:09:08 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False
4,krisdqzczivvwcp,2016-07-27,08:11:01 PM,station$147,station$1,ICZVZS,high,whber,4.356801,50.845658,634.16474,NaN,NaN,NaN,NaN,2016,30,Wednesday,False

In [104]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1284 entries, 0 to 1283
Data columns (total 19 columns):
id_code                        1284 non-null object
current_date                   1284 non-null object
current_time                   1284 non-null object
source_name                    1284 non-null object
destination_name               1284 non-null object
train_name                     1284 non-null object
target                         1284 non-null object
country_code_source            1283 non-null object
longitude_source               1283 non-null float64
latitude_source                1283 non-null float64
mean_halt_times_source         1283 non-null float64
country_code_destination       1251 non-null object
longitude_destination          1251 non-null float64
latitude_destination           1251 non-null float64
mean_halt_times_destination    1251 non-null float64
current_year                   1284 non-null int64
current_week                   1284 non-null int64
current_day                    1284 non-null object
is_weekend                     1284 non-null bool
dtypes: bool(1), float64(6), int64(2), object(10)
memory usage: 181.9+ KB

In [105]:
#dropping rows having null values
train=train.dropna()
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250 entries, 31 to 1283
Data columns (total 19 columns):
id_code                        1250 non-null object
current_date                   1250 non-null object
current_time                   1250 non-null object
source_name                    1250 non-null object
destination_name               1250 non-null object
train_name                     1250 non-null object
target                         1250 non-null object
country_code_source            1250 non-null object
longitude_source               1250 non-null float64
latitude_source                1250 non-null float64
mean_halt_times_source         1250 non-null float64
country_code_destination       1250 non-null object
longitude_destination          1250 non-null float64
latitude_destination           1250 non-null float64
mean_halt_times_destination    1250 non-null float64
current_year                   1250 non-null int64
current_week                   1250 non-null int64
current_day                    1250 non-null object
is_weekend                     1250 non-null bool
dtypes: bool(1), float64(6), int64(2), object(10)
memory usage: 186.8+ KB

## Feature Engineering

In [106]:
train[['station','source_no']]=train.source_name.str.split('$',expand=True)
train[['station','destination_no']]=train.destination_name.str.split('$',expand=True)

In [107]:
train=train.drop(['source_name','destination_name','station'],axis=1)
train['source_no']=train.source_no.astype(int)
train['destination_no']=train.destination_no.astype(int)

In [108]:
train['time']=pd.to_datetime(train.current_time).dt.time
test['time']=pd.to_datetime(test.current_time).dt.time

In [109]:
train.head()

,id_code,current_date,current_time,train_name,target,country_code_source,longitude_source,latitude_source,mean_halt_times_source,country_code_destination,longitude_destination,latitude_destination,mean_halt_times_destination,current_year,current_week,current_day,is_weekend,source_no,destination_no,time
31,mgtoldpcbopaoba,2016-07-27,11:41:46 PM,ICWVYA,high,whber,4.360846,50.859663,640.265896,whber,4.482785,51.017648,306.523121,2016,30,Wednesday,False,130,214,23:41:46
32,hbvekntxnxearzq,2016-07-28,12:04:25 AM,ICZVXY,low,whber,5.497685,50.967057,39.476879,whber,5.497685,50.967057,39.476879,2016,30,Thursday,False,248,248,00:04:25
34,rfwvjolvzoekxsq,2016-07-28,12:18:09 AM,ICZVXY,low,whber,5.497685,50.967057,39.476879,whber,4.356801,50.845658,634.164740,2016,30,Thursday,False,248,147,00:18:09
35,jcbfhwsqzpcifpe,2016-07-28,12:38:28 AM,ICXUYS,high,whber,4.482076,50.896456,171.020231,whber,4.360846,50.859663,640.265896,2016,30,Thursday,False,177,130,00:38:28
36,qfnccvisvjzlkxg,2016-07-28,08:50:27 AM,ICZVAT,medium,whber,3.710675,51.035896,309.014451,whber,4.356801,50.845658,634.164740,2016,30,Thursday,False,544,147,08:50:27

In [110]:
train.columns

Index(['id_code', 'current_date', 'current_time', 'train_name', 'target',
       'country_code_source', 'longitude_source', 'latitude_source',
       'mean_halt_times_source', 'country_code_destination',
       'longitude_destination', 'latitude_destination',
       'mean_halt_times_destination', 'current_year', 'current_week',
       'current_day', 'is_weekend', 'source_no', 'destination_no', 'time'],
      dtype='object')

In [111]:
# rows in train data where source and destination are same
train[train.source_no==train.destination_no]

,id_code,current_date,current_time,train_name,target,country_code_source,longitude_source,latitude_source,mean_halt_times_source,country_code_destination,longitude_destination,latitude_destination,mean_halt_times_destination,current_year,current_week,current_day,is_weekend,source_no,destination_no,time
32,hbvekntxnxearzq,2016-07-28,12:04:25 AM,ICZVXY,low,whber,5.497685,50.967057,39.476879,whber,5.497685,50.967057,39.476879,2016,30,Thursday,False,248,248,00:04:25
101,eddhuogvvmldesc,2016-07-31,07:31:07 PM,ICYXZS,high,whber,3.216726,51.197226,164.419075,whber,3.216726,51.197226,164.419075,2016,30,Sunday,True,525,525,19:31:07
165,lvnzkeihmcbgqhe,2016-08-07,04:09:26 PM,ICXRXV,low,whber,4.438567,50.404710,213.745665,whber,4.438567,50.404710,213.745665,2016,31,Sunday,True,439,439,16:09:26
265,fdxksbgybsqugfz,2016-08-17,09:25:20 PM,ICYYXZ,low,whber,4.336531,50.835707,686.615607,whber,4.336531,50.835707,686.615607,2016,33,Wednesday,False,150,150,21:25:20
287,njknpzzijwvptbr,2016-08-24,12:28:05 PM,ICSXY,medium,whber,3.216726,51.197226,164.419075,whber,3.216726,51.197226,164.419075,2016,34,Wednesday,False,525,525,12:28:05
332,zqmcribpybbxvtp,2016-09-11,04:19:42 PM,ICYUZV,medium,whber,4.482785,51.017648,306.523121,whber,4.482785,51.017648,306.523121,2016,36,Sunday,True,214,214,16:19:42
345,odlinqlojuimkxo,2016-09-15,11:00:08 PM,ICXUWV,low,whber,4.336531,50.835707,686.615607,whber,4.336531,50.835707,686.615607,2016,37,Thursday,False,150,150,23:00:08
1130,foewhqtetnkpfgf,2016-10-01,01:02:33 PM,SSVUSY,low,whber,4.569360,50.673667,253.471098,whber,4.569360,50.673667,253.471098,2016,39,Saturday,True,117,117,13:02:33

In [112]:
#rows in test data where source and destination are same
test[test.source_name==test.destination_name]

,id_code,current_date,current_time,source_name,destination_name,train_name,country_code_source,longitude_source,latitude_source,mean_halt_times_source,country_code_destination,longitude_destination,latitude_destination,mean_halt_times_destination,current_year,current_week,current_day,is_weekend,time
663,dsmvzasjoffthdm,2016-10-20,02:22:06 PM,station$266,station$266,LYSVV,whber,4.715866,50.882280,351.916185,whber,4.715866,50.882280,351.916185,2016,42,Thursday,False,14:22:06
938,qcczapxusosmghm,2016-10-28,01:43:59 PM,station$544,station$544,ICVZY,whber,3.710675,51.035896,309.014451,whber,3.710675,51.035896,309.014451,2016,43,Friday,False,13:43:59

In [113]:
#creating a new column zone and inserting random value
#this random value will replaced with morning, evening, afternoon and night in next cell
for i in train.index:
    train['zone']=1
for i in test.index:
    test['zone']=1

In [114]:
#on the basis of time, splitting 24 hrs in morning, eve, afternoon as after and night
for i in test.index:
    if((test.time[i]>=datetime.time(0,0,0))&(test.time[i]<datetime.time(6,0,0))):
        test.zone[i]='night'
    if((test.time[i]>=datetime.time(6,0,0))&(test.time[i]<datetime.time(12,0,0))):
        test.zone[i]='morning'
    if((test.time[i]>=datetime.time(12,0,0))&(test.time[i]<datetime.time(18,0,0))):
        test.zone[i]='after'
    if((test.time[i]>=datetime.time(18,0,0))&(test.time[i]<=datetime.time(23,59,59))):
        test.zone[i]='eve'
for i in train.index:
    if((train.time[i]>=datetime.time(0,0,0))&(train.time[i]<datetime.time(6,0,0))):
        train.zone[i]='night'
    if((train.time[i]>=datetime.time(6,0,0))&(train.time[i]<datetime.time(12,0,0))):
        train.zone[i]='morning'
    if((train.time[i]>=datetime.time(12,0,0))&(train.time[i]<datetime.time(18,0,0))):
        train.zone[i]='after'
    if((train.time[i]>=datetime.time(18,0,0))&(train.time[i]<=datetime.time(23,59,59))):
        train.zone[i]='eve'

In [115]:
train.zone.unique()

array(['eve', 'night', 'morning', 'after'], dtype=object)

In [116]:
train[train.target=='medium'].time.max()

datetime.time(23, 56, 53)

In [117]:
train.zone.value_counts()

after      510
morning    449
eve        260
night       31
Name: zone, dtype: int64

In [118]:
#relation between zone and target
train.groupby('zone')['target'].value_counts()

zone     target
after    low       224
         high      154
         medium    132
eve      low       110
         high       90
         medium     60
morning  low       184
         medium    144
         high      121
night    low        13
         high       11
         medium      7
Name: target, dtype: int64

1. Maximum people prefer to travel in afternoon.
2. In morning, we found very less occurance of high traffic comparative to others.

In [119]:
#creating a new column "is_weekend" to check whether its a weekend or not
for i in train.index:
    if train.current_date[i]=='2016-09-05':
        train.is_weekend[i]=True
for i in test.index:
    if test.current_date[i]=='2016-10-10':
        test.is_weekend[i]=True

In [120]:
train['zone'].replace(['night','morning','after','eve'],[0,2,1,3],inplace=True)
test['zone'].replace(['night','morning','after','eve'],[0,2,1,3],inplace=True)

In [121]:
#preprocessing data with standard scaler
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

### Random Forest Clasifier

In [196]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
tscv=TimeSeriesSplit(n_splits=5)
rfc=RandomForestClassifier(n_estimators=50,max_depth=3,min_samples_split=0.1,random_state=11)

In [197]:
train.columns

Index(['id_code', 'current_date', 'current_time', 'train_name', 'target',
       'country_code_source', 'longitude_source', 'latitude_source',
       'mean_halt_times_source', 'country_code_destination',
       'longitude_destination', 'latitude_destination',
       'mean_halt_times_destination', 'current_year', 'current_week',
       'current_day', 'is_weekend', 'source_no', 'destination_no', 'time',
       'zone'],
      dtype='object')

In [200]:
from sklearn.model_selection import train_test_split
x=train[[ 'longitude_source', 'latitude_source','mean_halt_times_source','longitude_destination',
                'latitude_destination','mean_halt_times_destination', 'is_weekend','zone']]
x=scaler.fit_transform(x)
y=train[['target']]
x_train,x_test,y_train,y_test=train_test_split(x,y,stratify=y,test_size=0.2,random_state=1111)
rfc.fit(x_train,y_train)
print('test score:',f1_score(y_test,rfc.predict(x_test),average='weighted'))
print('train score:',f1_score(y_train,rfc.predict(x_train),average='weighted'))

test score: 0.3773179827037951
train score: 0.4519572698001379

### Prediction on test dataset

In [126]:
x=test[[ 'longitude_source', 'latitude_source','mean_halt_times_source','longitude_destination',
                'latitude_destination','mean_halt_times_destination', 'is_weekend','zone']]
x=scaler.transform(x)

In [127]:
y_pred=rfc.predict(x)

In [128]:
test['target']=y_pred

In [129]:
test.target.unique()

array(['low', 'high', 'medium'], dtype=object)

In [130]:
sample.head()

           id_code target
0  mckbezdplrukagl   high
1  agxwrnbmzbyxsjg   high
2  iqjojyewdyfshtj   high
3  hssqexnzirioaag   high

### Final submission

In [97]:
sub=test[['id_code','target']]

In [98]:
sub.to_csv('v2.csv',index=False)